* {
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 45px;
}

/* top-bar desing */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 35px;
    font-weight: 700;
    color: #131313;
    padding-left: 130px;
}

nav div {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #424242;
}

/* banner desing */
.banner-d {
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    margin-top: 21.9px;
}

.banner-d h1 {
    color: #131313;
    font-size: 48px;
    font-weight: 700;
}

.banner-d p {
    margin-inline: auto;
    margin-top: -15px;
    font-size: 14px;
    font-weight: 400;
    width: 800px;
    margin-bottom: 32px;
    color: #424242;
    font-style: initial;
    line-height: 25px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding-inline: 18.5px;
    padding-block: 15.5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    margin-bottom: 40px;
}

.banner-d div img {
    width: 1080px;
    height: 600px;
}

/* Quick list section desing */
.features-section {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-inline: 150px;
    column-gap: 55px;
}

.features-section-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-section-img img {
    height: 300px;
    width: 300px;
}

.quick-list h1 {
    font-size: 35px;
    /* padding-bottom: 5px; */
}

.quick-color {
    color: #727272;
    font-weight: 500;
}

.features-color {
    color: #FF900E;
    font-weight: 700;
}

.quick-list p {
    color: #727272;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;

}

/* style for mobail device */
@media screen and (max-width:576px) {
    nav {
        display: block;
        margin-inline: 15px;
    }

    nav h2 {
        margin: 0px;
        font-size: 35px;
        font-weight: 700;
        color: #131313;
        padding-left: 0px;
        text-align: center;
        margin-bottom: 10px;

    }

    nav div {
        width: 380px;
        display: flex;
        justify-content: space-between;
        padding-right: 0px;
    }

    .banner-d div img {
        width: 95%;
        height: 95%;
    }

    .banner-d p {
        width: 90%;
    }

    /* quick-list section style */
    .features-section {
        flex-direction: column;
        margin-inline: 15px;
       text-align: center;
    }
    .features-section-img {
        grid-template-columns: 1fr;

}


/* style for madiaum device */
@media screen and (min-width: 576px) and (max-width: 768px) {
    /* .banner-d div img{
        width: 100%;
        height: 100%;
    }  */
}